@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

    /* font-family: 'Big Shoulders Display', sans-serif; */

    /* font-family: 'Lexend Deca', sans-serif; */

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --mobile: 375px;
  --desktop: 1440px;
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --light-gray: hsl(0, 0%, 95%);
}


.container {
  margin-inline: auto;
  padding: .725em;
  max-width: var(--mobile);
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  color: var(--light-gray);
}

.card:nth-child(1) {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card:nth-child(3) {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card--image {
  max-width: 50px;
}

.card--title {
  font-family: 'Big Shoulders Display', sans-serif;
}

.card--btn {
  padding: .725em 2em;
  border-radius: 10px;
  align-self: start;
}

.sedan {
  background: var(--bright-orange);
}

.suv {
  background: var(--dark-cyan);
}

.luxury {
  background: var(--very-dark-cyan);
}
