@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

    /* font-family: 'Big Shoulders Display', sans-serif; */

    /* font-family: 'Lexend Deca', sans-serif; */

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --mobile: 375px;
  --desktop: 1440px;
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --light-gray: hsl(0, 0%, 95%);
}

body {
  background: lightgray;
}

a,
.card--description {
  font-family: 'Lexend Deca', sans-serif;
}

main {
  margin-inline: auto;
  max-width: var(--desktop);
  padding: 1em;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  display: flex;
  flex-direction: column; 
  padding: 2.5em;
}

.card:nth-child(1) {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card:nth-child(3) {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card--image {
  max-width: 50px;
}

.card--image {
  margin: .75em 0;
}

.card--title {
  font-family: 'Big Shoulders Display', sans-serif;
  font-size: 2rem;
  color: var(--light-gray);
  margin-bottom: .75em;
}

.card--description {
  color: var(--transparent-white);
  line-height: 1.4;
  margin-bottom: 2em;
}

.card--btn {
  padding: .725em 2em;
  border-radius: 20px;
  text-decoration: none;
  background: black;
  border: 2px solid white;
  align-self: start;
  background: white;
}

.sedan {
  background: var(--bright-orange);
}

.sedan > a {
  color: var(--bright-orange)
}

.sedan > 
.card--btn:hover,
.card--btn:active {
  background: var(--bright-orange);
  color: white;
}

.suv {
  background: var(--dark-cyan);
}

.suv > a {
  color: var(--dark-cyan);
}

.suv > 
.card--btn:hover,
.card--btn:active {
  background: var(--dark-cyan);
  color: white;
}

.luxury {
  background: var(--very-dark-cyan);
}

.luxury > a {
  color: var(--very-dark-cyan);
}

.luxury > 
.card--btn:hover,
.card--btn:active {
  background: var(--very-dark-cyan);
  color: white;
}


@media (min-width: 700px) {
  .container {
    grid-template-columns: repeat(3, 1fr);

  }

  .card:nth-child(1) {
  border-top-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card:nth-child(3) {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 10px;
}

.card--image {
  margin-bottom: 2em;
}

.card--description {
  margin-bottom: 4em;
}
}